.faq h2 {
  text-align: center;
  margin-bottom: 25px;
}

.faq {
  margin: 25px 0;
}

.faq .ant-collapse {
  font-size: larger;
}

.faq .ant-collapse table {
  font-size: smaller;
}

.faq .ant-collapse table th {
  text-align: center;
}

.faq .ant-collapse table td ol {
  padding-inline-start: 20px;
}

.faq .ant-collapse table:last-child caption {
  padding-bottom: 0;
}

.ant-collapse-content-box :last-child,
.faq .ant-collapse table th :last-child,
.faq .ant-collapse table td :last-child {
  margin-bottom: 0;
}