header {
  width: 690px;
  max-width: 100%;
  margin: 25px 0;
  background-size: cover;
  background-position: center 20%;
  border-radius: 3px;
}

header h1 {
  font-size: 20px;
  color: white;
  text-shadow: black 0 0 5px;
  padding: 60px 30px;
}