.header-container {
  display: flex;
  margin: 25px 0;
  background-color: rgba(35, 45, 75, 0.75);
  border-radius: 3px;
}

.header-img {
  flex: 1;
  background-size: cover;
  background-position: center 20%;
  border-radius: 3px;
}

.header-text {
  flex: 2;
  color: white;
  padding: 30px;
}