.slides {
    width:auto;
    height:auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}