#output-widget {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: larger;
    border-radius: .25rem;
}

#output-widget h2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

#output-widget h3 {
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: orange;
    border-radius: .25rem;
    padding: .25rem;
}

#output-widget dt {
    font-weight: normal;
    text-decoration: underline;
}

#output-widget p, #output-widget dl {
    text-align: center;
}

#output-widget section {
    padding: 10px;
}

#output-widget ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.treatment-info {
    max-width: 100%;
    margin: auto;
}

.treatment-info .table th {
    text-align: center;
}
