:root {
    --choice-1: #FFDB8D;
    --choice-2: #A6ED5E;
    --choice-3: #00E4DA;
    --choice-4: #A2B4FF;
    --choice-text: black;
}

/* dark colors */
/* :root {
    --choice-1: #C46F00;
    --choice-2: #2C7600;
    --choice-3: #006960;
    --choice-4: #003399;
    --choice-text: white;
} */

.output-scale {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: 1em;
}

.output-scale .btn {
    flex: 1;
    text-align: center;
    border: none;
    border: 2px dashed gray;
}

.output-scale .btn:not(:disabled):not(.disabled).active {
    border: 2px solid black;
}

.choice-1 {
    background-color: var(--choice-1) !important;
    color: var(--choice-text) !important;
}

.choice-2 {
    background-color: var(--choice-2) !important;
    color: var(--choice-text) !important;
}

.choice-3 {
    background-color: var(--choice-3) !important;
    color: var(--choice-text) !important;
}

.choice-4 {
    background-color: var(--choice-4) !important;
    color: var(--choice-text) !important;
}