:root {
    --choice-1: #FFDB8D;
    --choice-2: #A6ED5E;
    --choice-3: #00E4DA;
    --choice-4: #A2B4FF;
    --choice-text: black;
}

.output-scale {
    display: grid;
    gap: 0.25em 1em;
    align-items: center;
}

@media (max-width: 767.98px) {
    .choice-label {
        grid-column: 1;
    }
    
    .output-scale .btn {
        grid-column: 2;
    }

    .choice-label .arrow::after {
        content: "↓";
    }
}

@media (min-width: 768px) {
    .choice-label {
        grid-row: 1;
    }
    
    .output-scale .btn {
        grid-row: 2;
    }

    .choice-label .arrow::after {
        content: "→";
    }
}

.choice-label {
    text-align: center;
    font-size: smaller;
}

.output-scale .btn {
    text-align: center;
    border: 2px dashed gray;
}

.output-scale .btn:not(:disabled):not(.disabled).active {
    border: 2px solid black;
    font-weight: 500;
}

.choice-1 {
    background-color: var(--choice-1) !important;
    color: var(--choice-text) !important;
}

.choice-2 {
    background-color: var(--choice-2) !important;
    color: var(--choice-text) !important;
}

.choice-3 {
    background-color: var(--choice-3) !important;
    color: var(--choice-text) !important;
}

.choice-4 {
    background-color: var(--choice-4) !important;
    color: var(--choice-text) !important;
}